# Compiled classes
bin/

# Local database credentials (copy config/db.properties.example to create it)
config/db.properties

# Compiled JAVADOC
docs/javadoc/

# Local IDE Configuration IntelliJ, Eclipse, VSCode, Netbeans
.idea/
.vscode/
.project
.classpath